body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #5A5655; }
a:hover { text-decoration: underline; }

p { font-family: 'Georgia','Helvetica', 'Arial', 'Sans-Serif'; font-size: 1.4em; line-height: 1.3em; color: #333; }
p.badges { font-family: 'Georgia','Helvetica', 'Arial', 'Sans-Serif'; font-size: 1.0em; line-height: 1.0em;}
ul { font-family: 'Georgia','Helvetica', 'Arial', 'Sans-Serif'; font-size: 1.3em; line-height: 1.5em; color: #333; }

code {font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 1.2em;background-color: #ecf0f3; color: #222;}

h1, h2, h3, h4 { font-family: 'Georgia','Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.4em; }

nav ul, footer ul { font-size: 1.2em; font-family: 'Georgia','Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: 1.0em; }

pagelinks { border-top: 1px solid #d5d5d5; font-size: 1.4em; line-height: 1.4em}
projheading {border-top: 2px solid #d5d5d5;border-bottom: 2px solid #d5d5d5;font-size: 1.3em; line-height: 1.7em;font-weight: bold; color: black}
projdoclink {color:red;font-size: 1.4em;font-weight:bold}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
